.highlight {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 1px;
}

.decorated {
  text-decoration: underline overline;
  text-decoration-color: green;
}

.uppercase-title {
  text-transform: uppercase;
}

.shadow-title {
  text-shadow: 1px 1px 2px gray;
}

