/*1) საიტზე დაამატეთ 6 button. აქედან 2-ს უნდა ჰქონდეს მინიჭებული წითელი ფერი, Font-family: Arial და ლურჯი ფერის ბორდერი, ხოლო დანარჩენ 4 Button-ს მიანიჭეთ Blueviolet ფერი, Fonr-family: Georgia და Aqua ფერის ბორდერი.*/

.red-button {
  background-color: red;
  font-family: Arial, sans-serif;
  border: 2px solid blue;
}

.violet-button {
  background-color: blueviolet;
  font-family: georgia, serif;
  border: 3px solid aqua;
}



/*2) საიტზე დაამატეთ 3 ფოტო. სამივე უნდა იყოს სხვადასხვა ზომის და უნდა ჰქონდეთ სხვადასხვა ფერის ბორდერები. ამისთვის გამოიყენეთ id-ები. 
(მოცემული დავალებები შეასრულეთ External CSS_ის საშუალებით)*/

#surati1 {
  width: 200px;
  border: 4px solid green;
}

#suradi2 {
  width: 300px;
  border: 4px solid orange;
}

#surati3 {
  width: 400px;
  border: 4px solid purple;
}